In [14]:
import pandas as pd
oo = pd.read_csv('data/olympics.csv',skiprows=4)
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [16]:
oo.sort_values(by=['NOC'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
28965,Beijing,2008,Taekwondo,Taekwondo,"NIKPAI, Rohullah",AFG,Men,- 58 kg,M,Bronze
19323,Seoul,1988,Sailing,Sailing,"BOERSMA, Jan D.",AHO,Men,board (division II),M,Silver
19874,Barcelona,1992,Athletics,Athletics,"BOULMERKA, Hassiba",ALG,Women,1500m,W,Gold
21960,Atlanta,1996,Boxing,Boxing,"BAHARI, Mohamed",ALG,Men,71-75kg,M,Bronze
21610,Atlanta,1996,Athletics,Athletics,"MORCELI, Nourredine",ALG,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
133,Athens,1896,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,doubles,M,Bronze
493,Paris,1900,Rowing,Rowing,"BRANDT, Francois Antoine",ZZX,Men,pair-oared shell with coxswain (2+),M,Gold
132,Athens,1896,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,doubles,M,Bronze
495,Paris,1900,Rowing,Rowing,"KLEIN, Roelof",ZZX,Men,pair-oared shell with coxswain (2+),M,Gold
864,St Louis,1904,Fencing,Fencing,"DIAZ, Manuel",ZZX,Men,foil team,M,Gold