In [4]:
import pandas as pd
oo = pd.read_csv('data/olympics.csv',skiprows=4)

In [5]:
sports = oo.Sport.unique()
print(sports)
print(type(sports))

['Aquatics' 'Athletics' 'Cycling' 'Fencing' 'Gymnastics' 'Shooting'
 'Tennis' 'Weightlifting' 'Wrestling' 'Archery' 'Basque Pelota' 'Cricket'
 'Croquet' 'Equestrian' 'Football' 'Golf' 'Polo' 'Rowing' 'Rugby'
 'Sailing' 'Tug of War' 'Boxing' 'Lacrosse' 'Roque' 'Hockey'
 'Jeu de paume' 'Rackets' 'Skating' 'Water Motorsports'
 'Modern Pentathlon' 'Ice Hockey' 'Basketball' 'Canoe / Kayak' 'Handball'
 'Judo' 'Volleyball' 'Table Tennis' 'Badminton' 'Baseball' 'Softball'
 'Taekwondo' 'Triathlon']
<class 'numpy.ndarray'>

In [6]:
oo.Sport.value_counts()

Sport
Aquatics             3828
Athletics            3448
Rowing               2523
Gymnastics           2214
Fencing              1547
Football             1387
Hockey               1325
Wrestling            1140
Shooting             1105
Sailing              1061
Cycling              1025
Canoe / Kayak        1002
Basketball            940
Volleyball            910
Equestrian            894
Handball              886
Boxing                842
Weightlifting         548
Judo                  435
Baseball              335
Archery               305
Tennis                272
Rugby                 192
Softball              180
Modern Pentathlon     174
Badminton             120
Table Tennis          120
Tug of War             94
Taekwondo              80
Polo                   66
Lacrosse               59
Golf                   30
Ice Hockey             27
Skating                27
Cricket                24
Triathlon              18
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: count, dtype: int64